// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-pine-tree: #020301;
$color-charcoal: #484848;
$color-royal-blue: #3c52e6;
$color-white-smoke: #f5f5f5;
$color-dark-gray: #acacac;

// Typography
$ff-norms: 'TTNormsPro', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
$transition-7000: ease-out 7s;
